<!DOCTYPE html>
<html>
    <head>
        <title>Company Form</title>
        <link rel='stylesheet' href="css/main.css">
        <link href="http://fonts.cdnfonts.com/css/berlin-sans-fb" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montez&display=swap" rel="stylesheet">
        <style>
        @import url('http://fonts.cdnfonts.com/css/berlin-sans-fb');
        body {
            background-color: #707672;
        }
        </style>
    </head>
    
    <body>
        <div class="right">Form
        <form>

        </form>
        </div>
        
        <div class="left">
            <nav class="btn" id="navForm">
                <a href="index.ejs">Home</a>
                <a href="#about">About Us</a>
                <a href="ranking.html">Ranking</a>
            </nav><br>
          <img src="img/company.png" id="company"></img>
      </div>
  </body>
</html>
