<!DOCTYPE html>
<html>
    <head>
        <title>Ranking</title>
        <link rel='stylesheet' href="css/main.css">
        <link href="http://fonts.cdnfonts.com/css/berlin-sans-fb" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Montez&display=swap" rel="stylesheet">
        <style>
        @import url('http://fonts.cdnfonts.com/css/berlin-sans-fb');
        body {
            background-color: #707672;
        }
        </style>
    </head>
    <body>
        <div class="searchBar">Search...</div>
        <div class="leftBar">
            <img class="logoTopLeftBig" src="img/logoWhite.png"></img>
            <div class="btn" id="home"><a href="index.html">Home</a></div>
            <div class="btn" id="rankAboutUs"><a href="#about">About Us</a></div>
        </div>
        <div class="ourRankings">Our<br>rankings</div>
        <!---
        <table> 
            <thead>
                <tr>
                  <th class="rank"></th>
                  <th class="name">Name of Organization</th>
                  <th class="employee-no">No of Employee</th>
                  <th class="women">No of Women Employee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td class="rank">1</td>
                  <td class="name">hellele</td>
                  <td class="employee-no">34</td>
                  <td class="women">2</td>
                </tr>
                <tr>
                    <td class="rank">1</td>
                    <td class="name">hellele</td>
                    <td class="employee-no">34</td>
                    <td class="women">2</td>
                  </tr>
                  <tr>
                    <td class="rank">1</td>
                    <td class="name">hellele</td>
                    <td class="employee-no">34</td>
                    <td class="women">2</td>
                  </tr>
                  
            </tbody>
            </table>
        -->
    </body>
</html>




