*{
    margin: 0;
    padding: 0;
    background-color:#707672;
}

header{
  min-height: 100vh;
  width: 100%;
}

nav{
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links{
  text-align: right;
}

.nav-links div{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.btn a {
  font-family: 'Berlin Sans FB', sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: white;
  background-color: #adadad;
  opacity:80%;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius:15px;
}

.btn a:hover{
  text-decoration: none;
  color: white;
  background-color: #adadad;
  opacity:80%;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius:15px;
  border:white solid 1px;
}

.whiteMid{
  position: absolute;
  left:42%;
  top:15%;
}

.text-box{
    font-family: 'Berlin Sans FB', sans-serif;
    width: 40%;
    text-align: center;
    color:#ffffff;
    position: absolute;
    top: 60%;
    left: 30%;
    font-weight: 300;
    line-height: 70px;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 30px;
}

#asEmployee, #asCompany{
  font-family: 'Berlin Sans FB', sans-serif;
  font-size: 30px;
  color:white;
  position: absolute;
  width:30%;
  bottom:10%;
}

#asCompany{
  right:41%;
}
#asEmployee{
  left:41%;
}



#about{
    min-height: 100vh;
    width: 100%;
    position: absolute;
}

.logoTopLeft{
  position: absolute;
  left: 20px;
  top: 20px;
  width:8%;
}

#rankings{
  position:absolute;
  left:85%;
  top:9px;
}

.maleFemale{
  position:absolute;
  width: 40%;
  right:5%;
  top:30%;

}

.about-us{
  font-family: 'Berlin Sans FB', sans-serif;
  font-size: 120px;
  color: white;
  position:absolute;
  left:10%;
  width: 40%;
  top:20%;
  line-height: 100px;
}

 .details{
  font-family: 'Berlin Sans FB', sans-serif;
  font-size: 25px;
  color: white;
  position:absolute;
  width:45%;
  left:10%;
  top:50%;
}


#logInaboutus{
  position: absolute;
  left:9%;
  bottom:1%;
}


/*----------------FOOTER----------

footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inner-footer{
    margin: 0;
    background-color: #f0f0f0;
}

.social-links{
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
}
.social-links ul{
    display: flex;
    width:300px;
    height: 50px;
    margin: auto;
}
.social-items{
    list-style: none;
}
.social-items a{
    padding: 10px 20px;
    font-size: 30px;
    color: #85a5aa;
    transition: all .25s;
}
.social-items a:hover{
    color: #6cccc6 ;
}
.contact{
    padding-top: 15px;
    display: flex;
    width:560px;
    height:70px;
    margin: auto;
}
.contact ul{
    display: flex;
}
.contact-items{
    list-style: none;
}
.contact-items i{
    padding: 0px 15px ;
    color: #85a5aa;
    font-size: 20px;
    transition: all .25s;
}
.contact-items i:hover{
    color: #6cccc6;
}

.outer-footer{
    padding: 10px;
    text-align: center;
    color: rgb(185, 179, 179);
    font-size: 18px;
    background-color: #e9e8e8;
}

*/


.right{
  font-family: 'Berlin Sans FB', sans-serif;
  font-size:40px;
  color:#707672;
  background-color: #a5c4b5;
  position: absolute;
  right:50px;
  top:30px;
  width:40%;
  height:92%;
  border-radius:20px;
  padding:30px;
}

#navForm{
  width:50%;
  position:absolute;
  left:3%;
  top:5%;
  margin:5px;
}

#company, #employee{
  position: absolute;
  bottom:30px;
  left:100px;
  width: 40%;
}

.searchBar{
  font-family: 'Berlin Sans FB', sans-serif;
  font-size: 20px;
  color: white;
  background-color: #adadad;
  padding:3px;
  padding-left:10px;
  padding-right:100px;
  border-radius:50px;
  position:absolute;
  left:85%;
  top:9px;
}

.leftBar{
  font-family: 'Berlin Sans FB', sans-serif;
  font-size: 25px;
  color:white;
  background-color: #a5c4b5;
  position:absolute;
  width:27%;
  height:100%;
}

.logoTopLeftBig{
  position:absolute;
  background-color: #a5c4b5;
  top:20px;
  left:85px;
  width:50%;
}

#home{
  position:absolute;
  left:9%;
  bottom:7%;
  background-color: #a5c4b5;
}

#rankAboutUs{
  background-color: #a5c4b5;
  position:absolute;
  left:50%;
  bottom:7%;
}

.ourRankings{
  font-family: 'Berlin Sans FB', sans-serif;
  font-size: 120px;
  color: white;
  position:absolute;
  width:50%;
  left:30%;
  top:10%;
  line-height: 100px;
}
/*
table{
  background-color: white;
  font-family: 'Berlin Sans FB', sans-serif;
  font-size: 30px;
  color: rgb(0, 0, 0);
  position:absolute;
  width:70%;
  left:27%;
  top:35%;
  line-height: 100px;
  border: 1px solid black;
  }
thead {
  border: 1px solid black;
  font-size: 0.7rem;
  text-transform: uppercase;
  } 
tbody .name {
  font-weight: bold;
  font-size: 0.5rem;
  }
.name{
  text-align: left;
  }
.rank,
.sp,
.kd{
    text-align: right;
  }
.rank{
  padding-left: 1rem;
  }



