body {
    background-color: #707672;
  }
  a{
    text-decoration: none;
  }
  .btn{
    background-color: #ececec;
    color:white;
    padding:5px;
    text-decoration: none;
    font-family: 'Berlin Sans FB', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight:50;
  }
  .form-group{
    font-size: 20px;
  }
  hr{
    border: 1px solid black;
  }
  #email, #password, #name, #password2{
    opacity:50%;
    padding:5px;
    background-color: none;
  }
  #texts{
    font-family: 'Berlin Sans FB', sans-serif;
    color:#707672;
  }
  .btn:hover{
    border: 2px solid rgb(115, 255, 232);
    opacity:100%;
    background-color: black;
  }
  .btn a{
    color:white;
  }
  #box{
    background-color: #a5c4b5 ;
    position: absolute;
    width:90%;
    right:5%;
    height:90%;
    top:5%;
    border-radius: 30px;
  }
  #register, #login{
    width:45%;
    left:25%;
  }
  #rightBox{
    background-color: white;
    position: absolute;
    width:30%;
    right:0%;
    height:100%;
    top:0%;
    border-radius: 30px;
  }
  .fontA{
    font-family: 'Berlin Sans FB', sans-serif;
    color:#707672;
    font-size: 60px;
    text-align: center;
    font-weight: 300;
    line-height: 70px;
  }